@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

body {
    background: grey lighten-5;
    color: grey darken-2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}